*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.production

/vendor
/node_modules

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

.phpunit.result.cache
.phpactor.json
auth.json

/.idea
/.vscode
/.fleet
/.zed
/.nova

Homestead.yaml
Homestead.json
