*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.production

/vendor
/node_modules

/public/build
/public/hot

/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/public/*
/storage/pail

.phpunit.result.cache
.phpactor.json
auth.json

/.idea
/.vscode
/.fleet
/.zed
/.nova

Homestead.yaml
Homestead.json

/public/storage
/storage/app/public
