/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/pail
/storage/*.php

.env
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
auth.json

*.log
.DS_Store
Thumbs.db
Homestead.yaml
Homestead.json

/.idea
/.vscode
/.fleet
/.zed
/.nova
